@model Site.Entity.Admin

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>
<section class="content">
    <h3>Admin BilgileriniSilmek İstediğinizden Eminmisiniz?</h3>
    <div>
        <h4>Admin</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.KullaniciAD)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KullaniciAD)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sifre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sifre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Yetki)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Yetki)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        @Html.ActionLink("Kategori Listesi", "Index", null, new { @class = "btn btn-warning" })
    </div>
        }
    </div>
</section>